## Importar pandas

In [ ]:
import pandas as pd

## Ler DataFrame de arquivo CSV

In [ ]:
import pandas as pd
data = pd.read_csv('titanic/train.csv') 
data

## Primeiras Linhas

In [ ]:
data.head()

## Últimas Linhas

In [ ]:
data.tail(2)

## Informações do DataFrame

In [ ]:
data.info()

## Resumo Estatístico de Campos Numéricos

In [ ]:
data.describe()


## Resumo estatístico de campos Categóricos

In [ ]:
data.describe(include='O')

## Renomear colunas

In [ ]:
data.columns

In [ ]:
data.rename({'Name': 'Nome', 'Sex': 'Sexo'}, axis=1, inplace=True) #dicionário com chave e valores; axis 0 estou renomeando linhas, axis 1 colunas;Inplece realmente implementa as alterações

In [ ]:
data.columns #colunas aparecem na ordem, podemos usar isso para atribuir os valores

In [10]:
data.columns = ['IdPassageiro', 'Sobreviveu', 'Classe', 
                'Nome', 'Sexo', 'Idade', 
                'IrmaosConjuge','PaisFilhos', 
                'Bilhete', 'Tarifa', 'Cabine', 'Embarque']

In [ ]:
data.head(2)

In [ ]:
data.columns

# Selecionar Colunas Específicas

In [ ]:
data[['Nome', 'Sexo', 'Classe', 'Idade', 'Sobreviveu']].head()

## Selecionando apenas uma coluna - Data Series

In [ ]:
data[['Idade']].head() #nesse casso não tenho um dataframe, mas sim um data series (executa 1 coluna por vez)

## Funções matemáticas embutidas

In [ ]:
data['Idade'].std()

In [ ]:
data['Idade'].mean()

In [ ]:
data['Idade'].sum()

In [ ]:
data['Idade'].count()

In [ ]:
data['Idade'].median()

In [ ]:
data['Idade'].mode()

In [ ]:
data['Idade'].max()

In [ ]:
data['Idade'].min() #* 12

In [ ]:
data['Idade'].idxmin() #índice do valor mínimo

In [ ]:
data['Idade'].idxmax() #índice do valor máximo

In [ ]:
data.mean()

In [ ]:
data.sum()

In [ ]:
data.median()

In [ ]:
data.min()

In [ ]:
# data.idxmin() # não funciona

## Selecionando pelo Index - iloc

In [ ]:
data.iloc[630] #já que eu vi o índice da pessoa mais velha, vamos puxar os dados dela

In [ ]:
data.iloc[803]

In [ ]:
data.iloc[[803]] #dessa forma vizualizo data frame

In [ ]:
data.iloc[[630]]

In [ ]:
data.iloc[[630,70,803,80]] # posso selecionar várias linhas

In [ ]:
data.iloc[2:5] #ou um intervalo (slice)

In [ ]:
data['Nome'].iloc[2]#vizualizar apenas 1 dado

In [ ]:
data['Idade'].iloc[630]

In [ ]:
data['Idade'].iloc[803]

## Operador de seleção "loc"

In [ ]:
data[['Idade', 'Sexo', 'Tarifa', 'Classe', 'Sobreviveu']].loc[data['Idade']>70] # selecionar de acordo com alguma condição

In [ ]:
data[['Idade', 'Sexo', 'Tarifa', 'Classe', 'Sobreviveu']].loc[data['Sexo']=='female'].head()

## Selecionando com múltiplas condições

In [ ]:
data[['Idade', 'Sexo', 'Tarifa', 'Classe', 'Sobreviveu']]\
.loc[(data['Idade']>=3) & (data['Idade']<=10) & ~(data['Sobreviveu']==1)] #\pra continuar na linha de baixo sem erro; ~ é negação

In [ ]:
data[['Idade', 'Sexo','Classe', 'Sobreviveu']]\
.loc[(data['Idade']>14) \
     & (data['Sobreviveu']==1) \
     & (data['Sexo']=='male')\
    & (data['Classe']==3)]

## map e replace

In [ ]:
data['Sexo'].map({'male': 'homem', 'female': 'mulher'}).head()

In [ ]:
data['Sexo'].replace({'male': 'homem', 'female': 'mulher'}).head()

In [34]:
data['Sexo'].replace(['homem','mulher'], 
                     ['male','female'], inplace=True)

In [ ]:
data['Sexo'].replace(['male','female'],'pessoa').head()

In [ ]:
data['Sexo'].replace('male','homem').head()

In [37]:
data['Sexo'] = data['Sexo'].map({'male': 'homem', 'female': 'mulher'})

In [ ]:
data['Sexo'].head()

## Groupby - Agrupar por

In [ ]:
data.groupby('Sexo')

In [ ]:
data.groupby('Sexo').mean()

In [ ]:
data.groupby('Classe').mean()

In [ ]:
data.groupby(['Sexo','Classe']).mean()

## Crosstab

In [ ]:
pd.crosstab(data['Sobreviveu'], data['Classe'], margins=True) #margins para colocar totais;
#pd.crosstab(data['Sobreviveu'], data['Classe'], margins=True).style.background_gradient(cmap='OrRd')

In [ ]:
pd.crosstab(data['Sobreviveu'], data['Sexo'], margins=True).style.background_gradient(cmap='blue')

## Ordenando Dados

In [ ]:
data[['Idade','Sexo','Classe','Sobreviveu']].sort_values('Idade', ascending=True).head()

In [ ]:
data[['Idade','Sexo','Classe','Sobreviveu']].sort_index(ascending=False).head()

## Lidando com dados faltando $\rightarrow$ NaN - Not a Number

In [ ]:
data.isnull().sum()

In [ ]:
data.loc[data['Embarque'].isnull()]

In [ ]:
data['Embarque'].unique()

In [ ]:
data['Embarque'].mode()

In [ ]:
data.describe(include='O')

In [ ]:
644/889

In [ ]:
data['Embarque'].fillna('Q', inplace=True)

In [ ]:
data['Embarque'].at[61] = 'S'

In [ ]:
data['Embarque'].at[61]

In [ ]:
data['Embarque'].at[829] = 'S'

In [ ]:
data['Embarque'].at[829]

## Deletando Coluna ou Linha

In [ ]:
data.isnull().sum()

In [ ]:
data.drop('Cabine', axis=1, inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
data.head(3)

In [ ]:
data.drop([4,3,2]).head()

In [ ]:
data.drop(['Bilhete','IdPassageiro','Nome'], axis=1).head(3)

## Apply e Lambda

In [ ]:
data['Idade'].apply(lambda x: x**2)

In [ ]:
data['Bilhete'] = data['Bilhete'].apply(lambda x: x[:-1])

In [ ]:
data['Bilhete'].head()

## Variáveis Dummy | HotEncoder

In [ ]:
data = pd.get_dummies(data,columns=['Sexo'],drop_first=True)

In [ ]:
embarque = pd.get_dummies(data['Embarque'], drop_first=True)

In [ ]:
embarque.head()

In [ ]:
data.head()

## Concatenando DataFrames

In [ ]:
data.shape, embarque.shape

In [ ]:
data = pd.concat([data,embarque],axis=1)

In [ ]:
data.shape

In [ ]:
data.drop('Embarque', axis=1, inplace=True)

In [ ]:
data.head(2)

# Expressões Regulares

.  - qualquer caracter
<br>\d - dígitos (0-9)
<br>\D - exceto dígitos (0-9)
<br>\w - palavra (a-z, A-Z, 0-9, \_)
<br>\s - espaço em branco (tab, espaço, nova linha)
<br>\S - qualquer coisa exceto espaço em branco (tab, espaço, nova linha)
<br>\b - início de uma palavra
<br>\B - exceto início da palavra
<br>^ - inicio de uma String
<br>$ - final de uma string
<br>[] - caracteres em colchetes
<br>[^] - caracteres não em colchetes
<br>| - ou
<br>( ) - grupo

<br>* - nenhum ou mais
<br>+ - um ou mais
<br>? - nenhum ou um
<br>{3} - número exato
<br>{3,4} - range de Números (mínimo, máximo)

Referência (inglês): 
http://bit.ly/ExpressoesRegulares

In [ ]:
data['Titulo'] = data['Nome'].str.extract('([a-zA-Z]+)\.')

In [ ]:
data.head(2)

# Engenharia de Recursos - Feature Engineering

In [ ]:
data['Sexo'] = data['Sexo_mulher'].map({0: 'homem', 1: 'mulher'})

In [ ]:
pd.crosstab(data['Titulo'], data['Sexo'])

In [ ]:
data['Titulo'] = data['Titulo'].apply(lambda x: 'Outros' if x not in ['Master', 'Miss', 'Mr','Mrs'] else x)

In [ ]:
pd.crosstab(data['Titulo'], data['Sexo'])

In [ ]:
data[['Titulo','Sexo','Idade','Classe','Sobreviveu']].loc[data['Titulo']=='Master'].mean()

## Mudando Valores Linha Por Linha - iterrows()

In [ ]:
cabine = pd.read_csv('titanic/train.csv')

In [ ]:
cabine['Cabin'].head()

In [ ]:
for idx, _ in cabine[['Cabin']].dropna().iterrows():
    cabine_individual = cabine['Cabin'].at[idx]
    cabine['Cabin'].at[idx] = cabine_individual[0]

In [ ]:
cabine[['Cabin','Survived','Sex','Pclass']].dropna().groupby(['Cabin','Sex']).count()

In [ ]:
cabine.loc[cabine['Cabin']=='T']